#clearurls, #addurls {
    margin-top: 1em;
}

.js-remove{
    font-weight: bold
}

.log-panel {
    height: 12em;
}

#urls_input{
    height: 12em;
}

.urls{
    width: 100%;
}

canvas{
    box-shadow: 0 2px 5px 3px rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    width: 80%;
    display: block;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    margin: 4px 0;
}

#aut{
    width: 95%;
}

#lan{
    width: 95%;
    height: 40px;
}

.color{
    width: 50%;
    height: 40px;
    padding: 1px;
}

#popup01:target{
    animation: popup 0.7s;
    transition: opacity 500ms;
}

#coverImage{ /* don't show image */
    left: -10000px;
    top: -10000px;
    position: absolute;  
}

.center{
    text-align: center;
}

.logo{
    width: 25px;
    height: 25px;
    float: left;
    margin-right: 10px;
    margin-top: 10px;
    /* padding-right: 10px; */
    /* vertical-align: middle; */
}

.webpage-title{
    /* vertical-align: middle; */
    display:inline;
}